[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"

[packages]
pandas = "*"
librosa = "*"
plotly = "*"
torch = "==1.7.1"
scikit-image = "*"
matplotlib = "*"
tqdm = "*"
wget = "*"
numpy = "*"
gdown = "*"
scikit-learn = "*"
scipy = "*"
tensorboard = "*"
Unidecode = "*"
Pillow = "*"
pysptk = "*"
fastdtw = "*"
text_utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/text-utils.git"}
audio_utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/audio-utils.git"}
image_utils = {editable = true, ref = "master", git = "https://github.com/stefantaubert/image-utils.git"}
mcd = {editable = true, ref = "main", git = "https://github.com/jasminsternkopf/mel_cepstral_distance.git"}

[requires]
python_version = "3.8"
