[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tacotron = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
tox = "*"
build = "*"

[packages]
numpy = ">=1.18.5"
scipy = ">=1.8.0"
tqdm = ">=4.63.0"
torch = ">=2.0.0"
pandas = ">=1.0.5"
librosa = ">=0.10.0"
plotly = "*"
scikit-image = "*"
matplotlib = "*"
# sklearn TSNE
scikit-learn = "*"
ordered-set = ">=4.1.0"
#automatic-speech-recognition = "*"
#jiwer = "*"
mel-cepstral-distance = ">=0.0.3"
speech-dataset-parser = ">=0.0.4"
wget = ">=3.2"

[requires]
python_version = "3.11"
