[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tacotron = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
pipenv-setup = "*"
rope = "*"

[packages]
text-utils = {editable = true, path = "./../text-utils"}
text-selection = {editable = true, path = "./../text-selection"}
audio-utils = {editable = true, path = "./../audio-utils"}
image-utils = {editable = true, path = "./../image-utils"}
speech-dataset-preprocessing = {editable = true, path = "./../speech-dataset-preprocessing"}
tts-preparation = {editable = true, path = "./../tts-preparation"}
pronunciation_dict_parser = {editable = true, path = "./../pronunciation_dict_parser"}
g2p_en = {editable = true, path = "./../g2p"}
sentence2pronunciation = {editable = true, path = "./../sentence2pronunciation"}
speech-dataset-parser = {editable = true, path = "./../speech-dataset-parser"}
accent-analyser = {editable = true, path = "./../accent-analyser"}
general-utils = {editable = true, path = "./../general-utils"}
mel-cepstral-distance = "*"
pandas = "*"
librosa = "*"
plotly = "*"
torch = "*"
scikit-image = "*"
matplotlib = "*"
tqdm = "*"
wget = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
tensorboard = "*"
automatic-speech-recognition = "*"
jiwer = "*"

[requires]
python_version = "3.8"
